body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

main.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00aef0;
}

.footer {
    flex: 0 0 auto;
    padding-bottom: 3rem;
}

.load-card .card-content {
    text-align: center;
}

.message, .message .message-header {
    border-radius: 0;
}

.section-center {
    text-align: center;
}

.title-center {
    text-align: center;
}

.element-center {
    margin: 0 auto;
}

.hidden {
    display: none;
}

/* Task 1 */

.color-block {
    height: 200px;
    width: 200px;
    margin: 50px auto;
}
