.form-equation .box-equation {
    overflow: hidden;
    position: relative;
    height: 300px;
}

.form-equation .field-tab {
    transform: translateX(-700px);
    position: absolute;
    top: 80px;
    left: 20px;

    width: calc(100% - 40px);

    transition: transform 2s ease;
}

.form-equation .field-tab.active {
    transform: translateX(0);
}

.form-equation .buttons-check-result {
    position: absolute;
    bottom: 20px;
}

.history {
    height: 420px;
}

.input--small {
    width: 40px;
    text-align: center;
}

.disabled-input input {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    box-shadow: none;
    color: #7a7a7a;
    pointer-events: none;
}

.label--button {
    display: flex;
    justify-content: space-between;
}

.calculator .GUI {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.box.history {
    position: relative;
}

.button-clear {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

body {
    transition: transform 2s ease;
}

body.zero-division {
    transform: rotate3d(1, 1, 1, 104deg) scale(0.01);
}

.block-scheme {
    text-align: center;
}
