.history, .box--calculator {
    height: 480px;
    position: relative;
}

.history-object {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


.history-description {
    width: 100%;
    display: flex!important;
    align-items: flex-end;
    white-space: nowrap;
    overflow: hidden;
}

.history-result {
    margin-left: 2px;
    font-size: 10px;
}

.input--small {
    width: 40px;
    text-align: center;
}

.calculator .GUI {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}


.button--clear, .button--result {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: calc(100% - 40px);
}

.button--operation {
    width: calc(33% - 4px);
    font-family: monospace;
    font-weight: 600;
}

.notification {
    transition: transform 2s ease-in-out;
    transform: translateX(500px);

    position: absolute;
    top: 70px;
    right: 20px;
    width: max-content;
    z-index: 40;

    margin-bottom: 0!important;
}

.notification.active {
    transform: translateX(0);
}